* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1280px;
  margin: auto;
}

header {
  display: flex;
  height: 153px;
  width: 1280px;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  padding-right: 48px;
  padding-left: 48px;
  gap: 20px;
}
.pinetour {
  display: flex;
  gap: 12px;
}
.tree-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: #d9eff7;
  gap: 20px;
}
.Pine {
  width: 71.94px;
  height: 26px;
  font-style: bold;
}
.pinemongolia {
  display: flex;
  flex-direction: column;
  height: 38px;
}
.Mongolia {
  height: 16px;
}
.Gol {
  display: flex;
  width: 424.83px;
  height: 40px;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.destinations {
  width: 124.28px;
  height: 40px;
  background-color: #2b697a;
  border-radius: 9999px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.tineraryi {
  height: 20px;
}
.pricingg {
  height: 20px;
}
.about {
  height: 20px;
}
.contact {
  height: 20px;
}
.contact {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.en {
  display: flex;
  background-color: #ecf5fa;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.fa-earth-americas {
  width: 15px;
  height: 15px;
  color: #70787c;
}
.en {
  font-style: bold;
  size: 11px;
}
.fa-arrow-down-long {
  color: #70787c;
}
.contact2 {
  background-color: #d9eff7;
  border-radius: 9999px;
  width: 86.55px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b697a;
  border-radius: 9999px;
  width: 159.44px;
  height: 44px;
  color: white;
}
.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #065161;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  color: white;
}
.herosection {
  width: 1280px;
  height: 598px;
  max-width: 1280px;
  padding-right: 48px;
  position: relative;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./945f6dc86d60479b0e838fe44013d5e15119a6bd.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.herosection-content {
  position: absolute;
  inset: 48px 0 97px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pure {
  display: flex;
  width: 286.75px;
  height: 32px;
  gap: 8px;
  background-color: white;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
}
.magic {
  width: 112.17px;
  height: 24px;
  background-color: #194553;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 16px;
  width: 80.17px;
  font-size: 11px;
}
.expedition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129.58px;
  height: 24px;
  padding: 4px, 12px, 4px, 12px;
  font-size: 11px;
  color: #194553;
}
.days {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 486.23px;
  height: 38px;
  font-size: 30px;
  color: #d9eff7;
}
.awaits {
  font-size: 56px;
  color: white;
}
.text {
  display: flex;
  width: 635.23px;
  height: 88px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: #d9eff7;
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 896px;
  height: 92px;
  max-width: 896px;
  padding-bottom: 48px;
  gap: 24px;
}
.ger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 215px;
  height: 44px;
  border-radius: 9999px;
  gap: 8px;
  padding: 12px, 16px, 12px, 16px;
}
.km {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: white;
  width: 215px;
  height: 44px;
  border-radius: 9999px;
}
.nomadic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 44px;
  background-color: white;
  border-radius: 9999px;
  gap: 8px;
}
.expert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 44px;
  border-radius: 9999px;
  background-color: white;
  gap: 8px;
}
.loc {
  display: flex;
  height: 68px;
  width: 896px;
  max-width: 896px;
  justify-content: space-between;
  padding: 8px;
  border-radius: 9999px;
  background-color: white;
}
.calender-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 20px;
  color: #065161;
}
.loc-1 {
  display: flex;
  width: 260.84px;
  height: 52px;
  padding: 8px, 16px, 8px, 16px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.date {
  display: flex;
  flex-direction: column;
}
.departure {
  width: 122.44px;
  height: 16px;
  font-size: 11px;
  color: #70787c;
}
.june {
  width: 145.36px;
  height: 20px;
  font-size: 14px;
}
.loc-2 {
  display: flex;
  width: 260.86px;
  height: 52px;
  padding: 8px, 16px, 8px, 16px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.loc-icon {
  width: 14px;
  height: 20px;
  color: #065161;
}
.khuvsgul {
  display: flex;
  flex-direction: column;
}
.route {
  width: 117px;
  height: 16px;
  font-size: 11px;
  color: #70787c;
}
.Khuvsgul {
  width: 154.75px;
  height: 20px;
  font-size: 14px;
}
.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196.33px;
  height: 48px;
  min-height: 48px;
  padding: 14px, 32px, 14px, 32px;
  gap: 8px;
  background-color: #2b697a;
  border-radius: 9999px;
  color: white;
}
.explore-text {
  width: 113.83px;
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Arrow-icon {
  width: 10.5px;
  height: 15px;
}
.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.47px;
  height: 48px;
  min-height: 48px;
  background-color: #d9eff7;
  border-radius: 9999px;
  padding: 14px, 24px, 14px, 24px;
  font-size: 14px;
  color: #065161;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 1088px;
  max-width: 1280px;
  padding: 72px 48px;
  gap: 48px;
}
.container-content-1 {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  height: 72px;
}
.content-1-1 {
  display: flex;
  flex-direction: column;
}
.mountain-icon-text {
  display: flex;
  width: 488.48px;
  height: 16px;
  gap: 8px;
}
.mountain-icon {
  width: 18.33px;
  height: 10px;
  color: #065161;
}
.mountain-icon-text {
  width: 163.59px;
  height: 16px;
  font-size: 11px;
  color: #065161;
}
.content-1-1-feature {
  width: 488.48px;
  height: 48px;
  font-size: 40px;
}
.content-1-2 {
  width: 439.91px;
  height: 72px;
  max-width: 448px;
  padding-right: 40px;
  font-size: 15px;
  color: #40484b;
}
.container-content-2 {
  display: flex;
  gap: 24px;
}
.Khuvsgul-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #d9eff7;
  height: 100%;
  padding: 32px;
  position: absolute;
}
.khuvsgull {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./e0c329c922973b5b9e8f62271815be48e711f0c9\ \(1\).jpg);
  width: 680.66px;
  height: 420px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.khuvsgull img {
  width: 100%;
  height: 100%;
}

.Terkhiin-Tsagaan-content {
  height: 420px;
  width: 480px;
  background-image: url(./953f22841494489dceb8d5a638dae72523955681.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}
.Terkhiin-Tsagaan-content img {
  width: 100%;
  height: 100%;
}
.Terkhtsagaan {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #d9eff7;
  justify-content: flex-end;
  padding: 32px;
}
.khuvsgul-content-1 {
  display: flex;
  gap: 8px;
  width: 616.67px;
  height: 24px;
}
.k-con-1 {
  width: 154.97px;
  height: 24px;
  background-color: #d9eff7;
  border-radius: 9999px;
  padding: 4px 12px;
  font-size: 11px;
  color: #194553;
  display: flex;
  justify-content: center;
  align-items: center;
}
.k-con-2 {
  width: 108.48px;
  height: 24px;
  padding: 4px 12px;
  font-size: 11px;
  color: #141d21;
  background-color: whitesmoke;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.khuvsgul-content-2 {
  width: 616.67px;
  height: 38px;
  font-size: 30px;
  color: white;
}
.khuvsgul-content-3 {
  width: 497px;
  height: 40px;
  max-width: 512px;
  font-size: 13px;
  color: #d9eff7;
}
.khuvsgul-content-4 {
  display: flex;
  width: 616.24px;
  height: 24px;
  padding-top: 8px;
  gap: 16px;
  color: #141d21;
}
.k-con-4-1 {
  display: flex;
  gap: 8px;
  width: 193px;
  height: 16px;
}
.droplet-icon {
  width: 11px;
  height: 14px;
  color: whitesmoke;
}
.k-con-4-1-text {
  width: 177px;
  height: 16px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: white;
}
.k-con-4-2 {
  width: 101px;
  height: 16px;
  gap: 8px;
  display: flex;
}
.up-down-arrow-icon {
  width: 6px;
  height: 12px;
  color: whitesmoke;
}
.k-con-4-2-text {
  width: 92px;
  height: 16px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.Terkhiin-Tsagaan-content-1 {
  display: flex;
  width: 415px;
  height: 28px;
  gap: 8px;
  padding-bottom: 4px;
}
.t-ts-con-1-1 {
  width: 154.97px;
  height: 24px;
  background-color: #d9eff7;
  border-radius: 9999px;
  padding: 4px 12px;
  font-size: 11px;
  color: #194553;
  display: flex;
  justify-content: center;
  align-items: center;
}
.t-ts-con-1-2 {
  width: 108.48px;
  height: 24px;
  padding: 4px 12px;
  font-size: 11px;
  color: #141d21;
  background-color: whitesmoke;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Terkhiin-Tsagaan-content-2 {
  width: 415px;
  height: 38px;
  font-size: 30px;
  color: white;
}
.Terkhiin-Tsagaan-content-3 {
  width: 415px;
  height: 40px;
  max-width: 512px;
  font-size: 13px;
  color: #d9eff7;
}
.Terkhiin-Tsagaan-content-4 {
  display: flex;
  width: 415px;
  height: 24px;
  padding-top: 8px;
  gap: 16px;
  color: #141d21;
}
.t-ts-con-4-1 {
  display: flex;
  width: 129px;
  height: 16px;
  gap: 8px;
}
.boat-icon {
  width: 14px;
  height: 14.67px;
  color: white;
}
.t-ts-con-4-1-text {
  width: 112.55px;
  height: 16px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.t-ts-con-4-2 {
  width: 100px;
  height: 16px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaf-icon {
  width: 10px;
  height: 14px;
  color: white;
}
.t-ts-con-4-2-text {
  width: 86px;
  height: 16px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container-content-3 {
  display: flex;
  gap: 24px;
}
.khorgo-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #d9eff7;
  height: 100%;
  padding: 32px;
  position: absolute;
}
.khorgo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./53d5622eacfb1c7902057a2c2aa0a86da0855965.jpg);
  width: 480px;
  height: 380px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.khorgo img {
  width: 100%;
  height: 100%;
}

.Amarbaysgalant-content {
  height: 380px;
  width: 680px;
  background-image: url(./734b14768a0409fb5668a8c7956b43ee5ae9a771.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}
.Amarbaysgalant-content img {
  width: 100%;
  height: 100%;
}
.amarbaysgalant {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #d9eff7;
  justify-content: flex-end;
  padding: 32px;
}
.khorgo-content-1 {
  display: flex;
  gap: 8px;
  width: 415px;
  height: 24px;
}
.h-con-1 {
  width: 97px;
  height: 24px;
  background-color: #d9eff7;
  border-radius: 9999px;
  padding: 4px 12px;
  font-size: 11px;
  color: #194553;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-con-2 {
  width: 115px;
  height: 24px;
  padding: 4px 12px;
  font-size: 11px;
  color: #141d21;
  background-color: whitesmoke;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.khorgo-content-2 {
  width: 415px;
  height: 30px;
  font-size: 22px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.khorgo-content-3 {
  width: 415px;
  height: 40px;
  max-width: 512px;
  font-size: 13px;
  color: #d9eff7;
}
.Amarbaysgalant-content-1 {
  display: flex;
  width: 617px;
  height: 24px;
  gap: 8px;
}
.Am-b-con-1-1 {
  width: 137px;
  height: 24px;
  background-color: #d9eff7;
  border-radius: 9999px;
  padding: 4px 12px;
  font-size: 11px;
  color: #194553;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Am-b-con-1-2 {
  width: 152px;
  height: 24px;
  padding: 4px 12px;
  font-size: 11px;
  color: #141d21;
  background-color: whitesmoke;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Amarbaysgalant-content-2 {
  width: 617px;
  height: 30px;
  font-size: 22px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Amarbaysgalant-content-3 {
  width: 433px;
  height: 40px;
  max-width: 512px;
  font-size: 13px;
  color: #d9eff7;
}
.itinerary-section {
  display: flex;
  flex-direction: column;
  height: 874px;
  width: 1280px;
  padding-bottom: 72px;
  padding-top: 72px;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #ecf5fa;
  justify-content: center;
  align-items: center;
}
.itinerary-section-1 {
  display: flex;
  flex-direction: column;
  width: 672px;
  height: 168px;
  padding-bottom: 24px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.it-sec-1-1 {
  display: flex;
  width: 190px;
  height: 24px;
  gap: 8px;
  background-color: #d9eff7;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  padding: 4px 16px;
}
.doctor-icon {
  width: 14px;
  height: 14px;
  color: #065161;
}
.sec-1-1-text {
  font-size: 11px;
  color: #065161;
}
.it-sec-1-2 {
  font-size: 40px;
}
.it-sec-1-3 {
  font-size: 18px;
  width: 599px;
  height: 56px;
  color: #40484b;
}
.itinerary-section-2 {
  display: flex;
  gap: 24px;
}
.sec-2-day1 {
  width: 379px;
  height: 243px;
  justify-content: space-between;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}
.sec-2-day1-1 {
  display: flex;
  justify-content: space-between;
}
.day1-1-1 {
  width: 65px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eff5;
  border-radius: 9999px;
  font-size: 11px;
  color: #70787c;
}
.day1-1-text {
  font-size: 13px;
  color: #70787c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-2-day1-2 {
  font-size: 18px;
}
.sec-2-day1-3 {
  font-size: 13px;
  color: #40484b;
}
.sec-2-day1-4 {
  display: flex;
  gap: 8px;
}
.bus-icon {
  width: 12px;
  height: 15px;
  color: #065161;
}
.sec-2-day1-4-text {
  font-size: 11px;
  color: #70787c;
  width: 239px;
  height: 16px;
}
.sec-2-day2 {
  width: 379px;
  height: 243px;
}
.sec-2-day2 {
  width: 379px;
  height: 243px;
  justify-content: space-between;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}
.sec-2-day2-1 {
  display: flex;
  justify-content: space-between;
}
.day2-1-1 {
  width: 65px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eff5;
  border-radius: 9999px;
  font-size: 11px;
  color: #70787c;
}
.day2-1-text {
  font-size: 13px;
  color: #70787c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-2-day2-2 {
  font-size: 18px;
}
.sec-2-day2-3 {
  font-size: 13px;
  color: #40484b;
}
.sec-2-day2-4 {
  display: flex;
  gap: 8px;
}
.monastery-icon {
  width: 12px;
  height: 15px;
  color: #065161;
}
.sec-2-day2-4-text {
  font-size: 11px;
  color: #70787c;
  width: 239px;
  height: 16px;
  display: flex;
}
.sec-2-day3 {
  width: 378px;
  height: 243px;
}
.sec-2-day3 {
  width: 379px;
  height: 243px;
  justify-content: space-between;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}
.sec-2-day3-1 {
  display: flex;
  justify-content: space-between;
}
.day3-1-1 {
  width: 65px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eff5;
  border-radius: 9999px;
  font-size: 11px;
  color: #70787c;
}
.day3-1-text {
  font-size: 13px;
  color: #70787c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-2-day3-2 {
  font-size: 18px;
}
.sec-2-day3-3 {
  font-size: 13px;
  color: #40484b;
}
.sec-2-day3-4 {
  display: flex;
  gap: 8px;
}
.old-human-icon {
  width: 12px;
  height: 15px;
  color: #065161;
}
.sec-2-day3-4-text {
  font-size: 11px;
  color: #70787c;
  width: 239px;
  height: 16px;
  display: flex;
}
.itinerary-section-3 {
  display: flex;
  gap: 24px;
  margin: 26px;
}
.sec-3-day4 {
  width: 378px;
  height: 243px;
}
.sec-3-day4 {
  width: 379px;
  height: 243px;
  justify-content: space-between;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}
.sec-3-day4-1 {
  display: flex;
  justify-content: space-between;
}
.day4-1-1 {
  width: 65px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eff5;
  border-radius: 9999px;
  font-size: 11px;
  color: #70787c;
}
.day4-1-text {
  font-size: 13px;
  color: #70787c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3-day4-2 {
  font-size: 18px;
}
.sec-3-day4-3 {
  font-size: 13px;
  color: #40484b;
}
.sec-3-day4-4 {
  display: flex;
  gap: 8px;
}
.boating-human-icon {
  width: 12px;
  height: 15px;
  color: #065161;
}
.sec-3-day4-4-text {
  font-size: 11px;
  color: #70787c;
  width: 239px;
  height: 16px;
  display: flex;
}
.sec-3-day5 {
  display: flex;
  width: 782px;
  height: 245px;
  background-color: white;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
}
.sec-3-day5-all {
  width: 510px;
  height: 197px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.sec-3-day5-pic {
  width: 224px;
  height: 176px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.sec-3-day5-1 {
  display: flex;
  width: 510px;
  height: 24px;
  gap: 8px;
}
.day5-1-1 {
  width: 194px;
  height: 24px;
  background-color: #2b697a;
  color: white;
  border-radius: 9999px;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.day5-1-2 {
  width: 158px;
  height: 20px;
  font-size: 13px;
  color: #70787c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3-day5-2 {
  width: 510px;
  height: 34px;
  padding-top: 4px;
  font-size: 22px;
}
.sec-3-day5-3 {
  font-size: 13px;
  width: 509px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #40484b;
}
.sec-3-day5-4 {
  display: flex;
  gap: 12px;
}
.sec-3-day5-4-1 {
  width: 179px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 9999px;
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3-day5-4-1-text {
  color: #194553;
  font-size: 11px;
  width: 137px;
  height: 16px;
}
.paw-icon {
  width: 14px;
  height: 12px;
}
.sec-3-day5-4-2 {
  width: 200px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 9999px;
  gap: 4px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #194553;
}
.day5-pic {
  width: 224px;
  height: 176px;
  border-radius: 8px;
}
.Pricing-tiers-Section {
  display: flex;
  width: 1280px;

  gap: 72px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3faff;
}
.Pricing-section-header {
  display: flex;
  flex-direction: column;
  width: 672px;

  gap: 8px;
  justify-content: center;
  align-items: center;
}
.pricing-header-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9eff7;
  border-radius: 9999px;
  font-size: 11px;
  color: #065161;
  width: 192px;
  height: 24px;
}
.pricing-header-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 672px;
  height: 48px;
  font-size: 40px;
}
.pricing-header-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 672px;
  height: 56px;
  color: #40484b;
  font-size: 18px;
}
.pricing-section-container {
  display: flex;
  gap: 32px;
}
.pricing-container-budget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 374px;
  height: 513px;
  padding: 4px;
  background-color: white;
  border-radius: 16px;
  gap: 16px;
}
.pricing-budget-1 {
  width: 141px;
  height: 24px;
  background-color: #e6eff5;
  padding: 4px 16px;
  font-size: 11px;
  color: #40484b;
  border-radius: 9999px;
}
.pricing-budget-2 {
  display: flex;
  flex-direction: column;
}
.pricing-budget-2-1 {
  width: 277px;
  height: 44px;
  gap: 4px;
  font-size: 36px;
}
.pricing-budget-2-1-1 {
  font-size: 14px;
  color: #70787c;
}
.pricing-budget-2-2 {
  width: 277px;
  height: 20px;
  font-size: 14px;
  color: #065161;
}
.pricing-budget-3 {
  width: 277px;
  height: 213px;
  gap: 24px;
}
.pricing-budget-3-1 {
  width: 277px;
  height: 16px;
  font-size: 11px;
  color: #70787c;
}
.pricing-budget-3-2 {
  width: 277px;
  height: 20px;
  gap: 8px;
  font-size: 13px;
}
.pricing-budget-3-3 {
  width: 250px;
  height: 40px;
  padding-right: 43px;
  font-size: 13px;
}
.pricing-budget-3-4 {
  width: 277px;
  height: 20px;
  gap: 8px;
  font-size: 13px;
}
.pricing-budget-3-5 {
  width: 277px;
  height: 20px;
  gap: 8px;
  font-size: 13px;
}
.pricing-budget-3-6 {
  width: 277px;
  height: 20px;
  gap: 8px;
  font-size: 13px;
  color: #70787c;
}
.pricing-budget-4 {
  width: 277px;
  height: 48px;
  background-color: #e6eff5;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #065161;
  font-size: 14px;
}
.pricing-container-standart {
  display: flex;
  flex-direction: column;
  width: 373px;
  height: 541px;
  background-color: white;
  border-radius: 16px;
  justify-content: space-between;
  gap: 16px;
  padding: 48px;
  position: relative;
  top: -16px;
  box-shadow: 0px 10px 10px 0px grey;
}
.pricing-standart-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 40px;
  background-color: #d97706;
  border-radius: 9999px;
  color: white;
  font-size: 12px;
  padding: 4px 16px;
  position: absolute;
  top: -15px;
}
.pricing-standart-2 {
  width: 157px;
  height: 24px;
  background-color: #d9eff7;
  border-radius: 9999px;
  padding: 4px 16px;
  font-size: 11px;
  color: #194553;
}
.pricing-standart-3 {
  width: 277px;
  height: 68px;
  gap: 4px;
}
.pricing-standart-3-1 {
  width: 277px;
  height: 44px;
  gap: 4px;
  font-size: 36px;
  color: #065161;
}
.pricing-standart-3-1-1 {
  font-size: 14px;
  color: #70787c;
}
.pricing-standart-3-2 {
  width: 277px;
  height: 20px;
  font-size: 14px;
  color: #065161;
}
.pricing-standart-4 {
  width: 277px;
  height: 233px;
  gap: 12px;
  padding-top: 16px;
}
.pricing-standart-4-1 {
  width: 277px;
  height: 16px;
  font-size: 11px;
  color: #70787c;
}
.pricing-standart-4-2 {
  width: 277px;
  height: 20px;
  gap: 8px;
  font-size: 13px;
}
.pricing-standart-4-3 {
  width: 249px;
  height: 40px;
  font-size: 13px;
}
.pricing-standart-4-4 {
  width: 277px;
  height: 20px;
  font-size: 13px;
}
.pricing-standart-4-5 {
  width: 277px;
  height: 20px;
  font-size: 13px;
}
.pricing-standart-4-6 {
  width: 196px;
  height: 40px;
  font-size: 13px;
}
.pricing-standart-5 {
  width: 277px;
  height: 48px;
  background-color: #2b697a;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.pricing-container-luxury {
  width: 373px;
  height: 573px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pricing-luxury-1 {
  display: flex;
  flex-direction: row;
  width: 277px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.luxury-all {
  width: 277px;
  height: 429px;
  padding-bottom: 32px;
  gap: 16px;
}
.pricing-luxury-1-1 {
  width: 140px;
  height: 24px;
  background-color: #194553;
  border-radius: 9999px;
  color: white;
  padding: 4px 16px;
  font-size: 11px;
}
.pricing-luxury-1-2 {
  width: 96px;
  height: 24px;
  padding: 4px 12px;
  background-color: #e6eff5;
  border-radius: 9999px;
  font-size: 11px;
  color: #d97706;
}
.pricing-luxury-2 {
  display: flex;
  flex-direction: column;
}
.pricing-luxury-2-1 {
  width: 277px;
  height: 44px;
  gap: 4px;
  font-size: 36px;
}
.pricing-luxury-2-1-1 {
  font-size: 14px;
  color: #70787c;
}
.pricing-luxury-2-2 {
  width: 277px;
  height: 20px;
  font-size: 14px;
  color: #065161;
}
.pricing-luxury-3 {
  width: 277px;
  height: 273px;
  gap: 50px;
  padding-top: 16px;
}
.pricing-luxury-3-1 {
  width: 2777px;
  height: 16px;
  font-size: 11px;
  color: #70787c;
}
.pricing-luxury-3-2 {
  width: 250px;
  height: 40px;
  padding-right: 47px;
  font-size: 13px;
}
.pricing-luxury-3-3 {
  width: 207px;
  height: 40px;
  font-size: 13px;
}
.pricing-luxury-3-4 {
  width: 223px;
  height: 40px;
  font-size: 13px;
}
.pricing-luxury-3-5 {
  width: 209px;
  height: 40px;
  font-size: 13px;
}
.pricing-luxury-3-6 {
  width: 250px;
  height: 20px;
  font-size: 13px;
}
.pricing-luxury-4 {
  width: 277px;
  height: 48px;
  background-color: #e6eff5;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trust-expedition-value {
  width: 1280px;
  height: 670px;
  background-color: #e0eaef;
  padding: 72px 48px;
}
.trust-expedition-all {
  background-color: white;
  width: 1184px;
  height: 526px;
  border-radius: 16px;
  padding: 48px;
  display: flex;
  gap: 48px;
}
.trust-container {
  width: 425px;
  height: 288px;
  padding-top: 71px;
  gap: 8px;
}
.trust-container-1 {
  width: 425px;
  height: 20px;
  gap: 8px;
  font-size: 11px;
  color: #065161;
}
.trust-container-2 {
  width: 425px;
  height: 48px;
  font-size: 40px;
}
.trust-container-3 {
  width: 425px;
  height: 96px;
  font-size: 15px;
  color: #40484b;
}
.trust-container-4 {
  width: 197px;
  height: 32px;
  background-color: #e6eff5;
  border-radius: 9999px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #18331e;
  margin-bottom: 16px;
}
.trust-container-5 {
  width: 276px;
  height: 32px;
  background-color: #e6eff5;
  border-radius: 9999px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #065161;
}
.trust-expedition-contaner {
  display: flex;
  flex-direction: column;
  width: 614px;
  height: 430px;
  gap: 16px;
}
.contaner-1-2 {
  display: flex;
  gap: 16px;
}
.direct-nomad {
  width: 299px;
  height: 215px;
  background-color: #ecf5fa;
  border-radius: 12px;
  padding: 24px;
  gap: 4px;
}
.direct-nomad-1 {
  width: 251px;
  height: 52px;
  font-size: 18px;
  display: flex;
  align-items: self-end;
}
.direct-nomad-2 {
  width: 251px;
  height: 80px;
  font-size: 13px;
  color: #40484b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dual-backup {
  width: 299px;
  height: 220px;
  background-color: #ecf5fa;
  border-radius: 12px;
  gap: 4px;
  padding: 24px;
}
.dual-backup-1 {
  width: 251px;
  height: 52px;
  font-size: 18px;
  display: flex;
  align-items: self-end;
}
.dual-backup-2 {
  width: 251px;
  height: 80px;
  font-size: 13px;
  color: #40484b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contaner-3-4 {
  display: flex;
  gap: 16px;
}
.organic-steppe {
  width: 299px;
  height: 189px;
  background-color: #ecf5fa;
  border-radius: 12px;
  padding: 24px;
  gap: 4px;
}
.organic-steppe-1 {
  width: 251px;
  height: 52px;
  font-size: 18px;
  display: flex;
  align-items: self-end;
}
.organic-steppe-2 {
  width: 251px;
  height: 80px;
  font-size: 13px;
  color: #40484b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-connection {
  width: 299px;
  height: 184px;
  background-color: #ecf5fa;
  border-radius: 12px;
  padding-top: 50px;
  padding-bottom: 72px;
  padding-left: 24px;
  padding-right: 24px;
}
.social-connection-1 {
  width: 251px;
  height: 26px;
  font-size: 18px;
}
.social-connection-2 {
  display: flex;
  gap: 11px;
  padding-top: 4px;
}
.social-connection-2-1 {
  width: 88px;
  height: 24px;
  background-color: #d9eff7;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  color: #065161;
}
.social-connection-2-2 {
  width: 88px;
  height: 24px;
  background-color: #d9eff7;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  color: #065161;
}
.tugsgul-2 {
  width: 1280px;
  height: 468px;
  padding: 72px 48px;
}
.tugsuuul {
  background-color: #194553;
  color: white;
  width: 1184px;
  height: 324px;
  border-radius: 24px;
  padding: 72px;
  display: flex;
  justify-content: space-between;
}
.tugsgul-2-1 {
  width: 570px;
  height: 180px;
  gap: 8px;
}
.tugsgul--1 {
  width: 570px;
  height: 16px;
  font-size: 11px;
  color: #d9eff7;
}
.tugsgul--2 {
  width: 570px;
  height: 96px;
  font-size: 40px;
}
.tugsgul--3 {
  width: 570px;
  height: 48px;
  font-size: 15px;
  color: #d9eff7;
}
.tugsgul-2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 417px;
  height: 52px;
  gap: 12px;
  margin-top: 50px;
}
.tug-1 {
  width: 216px;
  height: 52px;
  background-color: #2b697a;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tug-2 {
  width: 216px;
  height: 52px;
  background-color: white;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #194553;
}
.last-section{
  width: 1280px;
  height: 424px;
  padding-top: 72px;
  padding-bottom: 32px;
  background-color: #ECF5FA;
}
.last-sec-con{
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 1280px;
  height: 320px;
  padding-right: 48px;
  padding-left: 48px;
}
.last-sec-1{
  display: flex;
  width: 1184px;
  height: 204px;
  gap: 48px;
}
.last-sec-1-1{
  width: 362px;
  height: 204px;
  padding-bottom: 28.5px;
  gap: 16px;
}
.last-sec-1-1-1{
  display: flex;
  flex-direction: column;
}
.laast-1{
  width: 71px;
  height: 26px;
  font-size: 18px;
  color: #065161;
}
.laast-2{
  color: #70787C;
  font-size: 11px;
  width: 140px;
  height: 16px;
}
.last-sec-1-1-2{
  color: #40484B;
  width: 338px;
  height: 60px;
  font-size: 13px;
}
.last-sec-1-1-3{
  display: flex;
  flex-direction: column;
  width: 221px;
  height: 43.5px;
  background-color: white;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.laast--1{
  width: 90px;
  height: 14px;
  color: #18331E;
  font-size: 11px;
}
.laast--2{
  color: #70787C;
  width: 162px;
  height: 14px;
  font-size: 11px;
}
.last-sec-1-2{
  width: 157px;
  height: 204px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.lst-1{
  width: 157px;
  height: 28px;
  font-size: 14px;
}
.lst-2{
  width: 157px;
  height: 20px;
  color: #40484B;
  font-size: 13px;
}
.last-sec-1-3{
  width: 157px;
  height: 204px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.last-sec1{
  width: 157px;
  height: 28px;
  padding-bottom: 8px;
  font-size: 14px;
}
.last-sec2{
  width: 157px;
  height: 20px;
  font-size: 13px;
  color: #40484B;
}
.last-sec-1-4{
  width: 362px;
  height: 204px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.last-con1{
  width: 362px;
  height: 20px;
  font-size: 14px;
}
.last-con2{
  width: 362px;
  height: 40px;
  color: #40484B;
  font-size: 13px;
}
.last-con3{
  display: flex;
  width: 362px;
  height: 52px;
  padding: 4px;
  background-color: white;
  border-radius: 9999px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.last-con-3-1{
  width: 208px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #70787C;
}
.last-con-3-2{
  width: 101px;
  height: 44px;
  color: white;
  background-color: #2B697A;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.last-con4{
  width: 362px;
  height: 44px;
  padding-top: 8px;
  font-size: 11px;
  color: #70787C;
}
.last-sec-2{
  display: flex;
  width: 1184px;
  height: 44px;
  justify-content: space-between;
  padding-top: 24px;
}
.last-sec-2-1{
  width: 395px;
  height: 20px;
  font-size: 13px;
  color: #40484B;
}
.last-sec-2-2{
  display: flex;
  width: 660px;
  height: 16px;
  gap: 24px;
}
.lasst-1{
  width: 82 px;
  height: 16px;
  font-size: 11px;
  color: #40484B;
}
.lasst-6{
  width: 299px;
  height: 16px;
  font-size: 11px;
  color: #40484B;
}