* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  height: 153px;
  width: 1280px;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  padding-right: 48px;
  padding-left: 48px;
  gap: 20px;
}
.pinetour {
  display: flex;
  gap: 12px;
}
.tree-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: #d9eff7;
  gap: 20px;
}
.Pine {
  width: 71.94px;
  height: 26px;
  font-style: bold;
}
.pinemongolia {
  display: flex;
  flex-direction: column;
  height: 38px;
}
.Mongolia {
  height: 16px;
}
.Gol {
  display: flex;
  width: 424.83px;
  height: 40px;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.destinations {
  width: 124.28px;
  height: 40px;
  background-color: #2b697a;
  border-radius: 9999px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.tineraryi {
  height: 20px;
}
.pricing {
  height: 20px;
}
.about {
  height: 20px;
}
.contact {
  height: 20px;
}
.contact {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.en {
  display: flex;
  background-color: #ecf5fa;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.fa-earth-americas {
  width: 15px;
  height: 15px;
  color: #70787c;
}
.en {
  font-style: bold;
  size: 11px;
}
.fa-arrow-down-long {
  color: #70787c;
}
.contact2 {
  background-color: #d9eff7;
  border-radius: 9999px;
  width: 86.55px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b697a;
  border-radius: 9999px;
  width: 159.44px;
  height: 44px;
  color: white;
}
.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #065161;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  color: white;
}
.herosection {
  width: 1280px;
  height: 598px;
  max-width: 1280px;
  padding-right: 48px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../945f6dc86d60479b0e838fe44013d5e15119a6bd.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pure {
  display: flex;
  width: 286.75px;
  height: 32px;
  gap: 8px;
  background-color: white;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
}
.magic{
    width: 112.17px;
    height: 24px;
    background-color: #194553;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 16px;
    width: 80.17px;
    font-size: 11px;
}
.expedition{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129.58px;
  height: 24px;
  padding: 4px,12px,4px,12px;
  font-size: 11px;
  color: #194553;
}
.days{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 486.23px;
  height: 38px;
  font-size: 30px;
  color: #D9EFF7;
}
.awaits{
  font-size: 56px;
  color: white;
}
.text{
  display: flex;
  width: 635.23px;
  height: 88px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: #D9EFF7;
}
.all{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 896px;
  height: 92px;
  max-width: 896px;
  padding-bottom: 48px;
  gap: 24px;
}
.ger{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 215px;
  height: 44px;
  border-radius: 9999px;
  gap: 8px;
  padding: 12px,16px,12px,16px;
}
.km{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: white;
  width: 215px;
  height: 44px;
  border-radius: 9999px;
}
.nomadic{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 44px;
  background-color: white;
  border-radius: 9999px;
  gap: 8px;
}
.expert{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 44px;
  border-radius: 9999px;
  background-color: white;
  gap: 8px;
}